h1 {
    display: flex;
    justify-content: center;
}
body {
    font-family: sans-serif;
    perspective-origin: center;
}
.talleres {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-top: black solid;
    border-left: black solid;
    border-right: black solid;
    background-color: rgb(101, 203, 250);
    perspective-origin: center;
}
.talleres_item {
    padding: 15px;
    border-bottom: black solid;
}

.talleres .talleres_container .talleres_item:hover {
    background-color: blue;
    transition: .3s;
    transform: scale(1.2);
}